In [1]:


import pandas as pd
import os
#from sklearn import preprocessing #Depricated  
from sklearn.impute import SimpleImputer #New version
from sklearn import tree
from sklearn import model_selection #When multiple models r there

#changes working directory
os.chdir("D:/DSBDA/titanic data")

titanic_train = pd.read_csv("train.csv")
titanic_train.shape
titanic_train.info()

titanic_test = pd.read_csv('test.csv')
titanic_test.shape
titanic_test.info()

titanic_test.Survived = None

#Let's excercise by concatinating both train and test data
#Concatenation is Bcoz to have same number of rows and columns so that our job will be easy
titanic = pd.concat([titanic_train, titanic_test])
titanic.shape
titanic.info()

#Extract and create title column from name
def extract_title(name):
    return name.split(',')[1].split('.')[0].strip()
#The map(aFunction, aSequence) function applies a passed-in function to each item in an iterable object 
#and returns a list containing all the function call results.
titanic['Title'] = titanic['Name'].map(extract_title)

#Imputation work for missing data with default values
mean_imputer = SimpleImputer() #By defalut parameter is mean and let it use default one.
mean_imputer.fit(titanic_train[['Age','Fare']]) 

#Age is missing in both train and test data.
#Fare is NOT missing in train data but missing test data. Since we are playing on tatanic union data, we are applying mean imputer on Fare as well..
titanic[['Age','Fare']] = mean_imputer.transform(titanic[['Age','Fare']])

#creaate categorical age column from age
#It's always a good practice to create functions so that the same can be applied on test data as well
def convert_age(age):
    if(age >= 0 and age <= 10): 
        return 'Child'
    elif(age <= 25): 
        return 'Young'
    elif(age <= 50): 
        return 'Middle'
    else: 
        return 'Old'
#Convert numerical Age column to categorical Age_Cat column
titanic['Age_Cat'] = titanic['Age'].map(convert_age)

#Create a new column FamilySize by combining SibSp and Parch and seee we get any additioanl pattern recognition than individual
titanic['FamilySize'] = titanic['SibSp'] +  titanic['Parch'] + 1
def convert_familysize(size):
    if(size == 1): 
        return 'Single'
    elif(size <=3): 
        return 'Small'
    elif(size <= 6): 
        return 'Medium'
    else: 
        return 'Large'
#Convert numerical FamilySize column to categorical FamilySize_Cat column
titanic['FamilySize_Cat'] = titanic['FamilySize'].map(convert_familysize)

#Now we got 3 new columns, Title, Age_Cat, FamilySize_Cat
#convert categorical columns to one-hot encoded columns including  newly created 3 categorical columns
#There is no other choice to convert categorical columns to get_dummies in Python
titanic1 = pd.get_dummies(titanic, columns=['Sex','Pclass','Embarked', 'Age_Cat', 'Title', 'FamilySize_Cat'])
titanic1.shape
titanic1.info()

#Drop un-wanted columns for faster execution and create new set called titanic2
titanic2 = titanic1.drop(['PassengerId','Name','Age','Ticket','Cabin','Survived'], axis=1, inplace=False)
#See how may columns are there after 3 additional columns, one hot encoding and dropping
titanic2.shape 
titanic2.info()
#Splitting tain and test data
X_train = titanic2[0:891] #0 t0 891 records
X_train.shape
X_train.info()
y_train = titanic_train['Survived']

#Let's build the model
#If we don't use random_state parameter, system can pick different values each time and we may get slight difference in accuracy each time you run.
tree_estimator = tree.DecisionTreeClassifier()
#Add parameters for tuning
dt_grid = {'max_depth':[15, 16, 17], 'min_samples_split':[2,3], 'criterion':['gini','entropy']}
#dt_grid = {'max_depth':list(range(10,30)), 'min_samples_split':list(range(2,8)), 'criterion':['gini','entropy']}

param_grid = model_selection.GridSearchCV(tree_estimator, dt_grid, cv=15) #Evolution of tree
param_grid.fit(X_train, y_train) #Building the tree
param_grid.cv_results_
print(param_grid.best_score_) #Best score
print(param_grid.best_params_)
#print(param_grid.score(X_train, y_train)) #Train score  #Evalution of tree

#Explore feature importances calculated by decision tree algorithm
#best_estimator_ gives final best parameters. 
#feature_importances_: Every feture has an importance with a priority number. Now we want to use best estimator along with very very importance features
#Let's create a DataFrame with fetures and their importances.
fi_df = pd.DataFrame({'feature':X_train.columns, 'importance':  param_grid.best_estimator_.feature_importances_}) #You may notice that feature	importance "Title_Mr" has more importance
print(fi_df)

#Now let's predict on test data
X_test = titanic2[titanic_train.shape[0]:] #shape[0]: means 0 index to n index. Not specifying end index is nothing but till nth index
X_test.shape
X_test.info()
titanic_test['Survived'] = param_grid.predict(X_test)

titanic_test.to_csv('Attempt_Params_CV.csv', columns=['PassengerId','Survived'],index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass       1309 non-null   int64
 3   Name         1309 non-null   object
 4   Sex          1309 non-null   object
 5   Age          1046 non-null   float64
 6   SibSp        1309 non-null   int64
 7   Parch        1309 non-null   int64
 8   Ticket       1309 non-null   object
 9   Fare         1308 non-null   float64
 10  Cabin        295 non-null    object
 11  Embarked     1307 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 132.9+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 44 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   PassengerId            1309 non-null   int64
 1   Survived               891 non-null    float64
 2   Name                   1309 non-null   object
 3   Age                    1309 non-null   float64
 4   SibSp                  1309 non-null   int64
 5   Parch                  1309 non-null   int64
 6   Ticket                 1309 non-null   object
 7   Fare                   1309 non-null   float64
 8   Cabin                  295 non-null    object
 9   FamilySize             1309 non-null   int64
 10  Sex_female             1309 non-null   uint8
 11  Sex_male               1309 non-null   uint8
 12  Pclass_1               1309 non-null   uint8
 13  Pclass_2               1309 non-null   uint8
 14  Pclass_3               1309 non-null   uint8
 15  Embarked_C             1309 non-null   uint8
 16  Embarked_Q             1309 non-null   uint8
 17  Embarked_S             1309 non-null   uint8
 18  Age_Cat_Child          1309 non-null   uint8
 19  Age_Cat_Middle         1309 non-null   uint8
 20  Age_Cat_Old            1309 non-null   uint8
 21  Age_Cat_Young          1309 non-null   uint8
 22  Title_Capt             1309 non-null   uint8
 23  Title_Col              1309 non-null   uint8
 24  Title_Don              1309 non-null   uint8
 25  Title_Dona             1309 non-null   uint8
 26  Title_Dr               1309 non-null   uint8
 27  Title_Jonkheer         1309 non-null   uint8
 28  Title_Lady             1309 non-null   uint8
 29  Title_Major            1309 non-null   uint8
 30  Title_Master           1309 non-null   uint8
 31  Title_Miss             1309 non-null   uint8
 32  Title_Mlle             1309 non-null   uint8
 33  Title_Mme              1309 non-null   uint8
 34  Title_Mr               1309 non-null   uint8
 35  Title_Mrs              1309 non-null   uint8
 36  Title_Ms               1309 non-null   uint8
 37  Title_Rev              1309 non-null   uint8
 38  Title_Sir              1309 non-null   uint8
 39  Title_the Countess     1309 non-null   uint8
 40  FamilySize_Cat_Large   1309 non-null   uint8
 41  FamilySize_Cat_Medium  1309 non-null   uint8
 42  FamilySize_Cat_Single  1309 non-null   uint8
 43  FamilySize_Cat_Small   1309 non-null   uint8
dtypes: float64(3), int64(4), object(3), uint8(34)
memory usage: 156.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 38 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SibSp                  1309 non-null   int64
 1   Parch                  1309 non-null   int64
 2   Fare                   1309 non-null   float64
 3   FamilySize             1309 non-null   int64
 4   Sex_female             1309 non-null   uint8
 5   Sex_male               1309 non-null   uint8
 6   Pclass_1               1309 non-null   uint8
 7   Pclass_2               1309 non-null   uint8
 8   Pclass_3               1309 non-null   uint8
 9   Embarked_C             1309 non-null   uint8
 10  Embarked_Q             1309 non-null   uint8
 11  Embarked_S             1309 non-null   uint8
 12  Age_Cat_Child          1309 non-null   uint8
 13  Age_Cat_Middle         1309 non-null   uint8
 14  Age_Cat_Old            1309 non-null   uint8
 15  Age_Cat_Young          1309 non-null   uint8
 16  Title_Capt             1309 non-null   uint8
 17  Title_Col              1309 non-null   uint8
 18  Title_Don              1309 non-null   uint8
 19  Title_Dona             1309 non-null   uint8
 20  Title_Dr               1309 non-null   uint8
 21  Title_Jonkheer         1309 non-null   uint8
 22  Title_Lady             1309 non-null   uint8
 23  Title_Major            1309 non-null   uint8
 24  Title_Master           1309 non-null   uint8
 25  Title_Miss             1309 non-null   uint8
 26  Title_Mlle             1309 non-null   uint8
 27  Title_Mme              1309 non-null   uint8
 28  Title_Mr               1309 non-null   uint8
 29  Title_Mrs              1309 non-null   uint8
 30  Title_Ms               1309 non-null   uint8
 31  Title_Rev              1309 non-null   uint8
 32  Title_Sir              1309 non-null   uint8
 33  Title_the Countess     1309 non-null   uint8
 34  FamilySize_Cat_Large   1309 non-null   uint8
 35  FamilySize_Cat_Medium  1309 non-null   uint8
 36  FamilySize_Cat_Single  1309 non-null   uint8
 37  FamilySize_Cat_Small   1309 non-null   uint8
dtypes: float64(1), int64(3), uint8(34)
memory usage: 94.6 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 38 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SibSp                  891 non-null    int64
 1   Parch                  891 non-null    int64
 2   Fare                   891 non-null    float64
 3   FamilySize             891 non-null    int64
 4   Sex_female             891 non-null    uint8
 5   Sex_male               891 non-null    uint8
 6   Pclass_1               891 non-null    uint8
 7   Pclass_2               891 non-null    uint8
 8   Pclass_3               891 non-null    uint8
 9   Embarked_C             891 non-null    uint8
 10  Embarked_Q             891 non-null    uint8
 11  Embarked_S             891 non-null    uint8
 12  Age_Cat_Child          891 non-null    uint8
 13  Age_Cat_Middle         891 non-null    uint8
 14  Age_Cat_Old            891 non-null    uint8
 15  Age_Cat_Young          891 non-null    uint8
 16  Title_Capt             891 non-null    uint8
 17  Title_Col              891 non-null    uint8
 18  Title_Don              891 non-null    uint8
 19  Title_Dona             891 non-null    uint8
 20  Title_Dr               891 non-null    uint8
 21  Title_Jonkheer         891 non-null    uint8
 22  Title_Lady             891 non-null    uint8
 23  Title_Major            891 non-null    uint8
 24  Title_Master           891 non-null    uint8
 25  Title_Miss             891 non-null    uint8
 26  Title_Mlle             891 non-null    uint8
 27  Title_Mme              891 non-null    uint8
 28  Title_Mr               891 non-null    uint8
 29  Title_Mrs              891 non-null    uint8
 30  Title_Ms               891 non-null    uint8
 31  Title_Rev              891 non-null    uint8
 32  Title_Sir              891 non-null    uint8
 33  Title_the Countess     891 non-null    uint8
 34  FamilySize_Cat_Large   891 non-null    uint8
 35  FamilySize_Cat_Medium  891 non-null    uint8
 36  FamilySize_Cat_Single  891 non-null    uint8
 37  FamilySize_Cat_Small   891 non-null    uint8
dtypes: float64(1), int64(3), uint8(34)
memory usage: 64.4 KB
0.8172504708097929
{'criterion': 'entropy', 'max_depth': 17, 'min_samples_split': 2}
                  feature  importance
0                   SibSp    0.010918
1                   Parch    0.020363
2                    Fare    0.319680
3              FamilySize    0.085575
4              Sex_female    0.036076
5                Sex_male    0.000000
6                Pclass_1    0.002016
7                Pclass_2    0.012047
8                Pclass_3    0.076397
9              Embarked_C    0.009096
10             Embarked_Q    0.007145
11             Embarked_S    0.018161
12          Age_Cat_Child    0.000000
13         Age_Cat_Middle    0.029520
14            Age_Cat_Old    0.015321
15          Age_Cat_Young    0.005264
16             Title_Capt    0.000000
17              Title_Col    0.000000
18              Title_Don    0.000000
19             Title_Dona    0.000000
20               Title_Dr    0.000000
21         Title_Jonkheer    0.000000
22             Title_Lady    0.000000
23            Title_Major    0.000000
24           Title_Master    0.033338
25             Title_Miss    0.001549
26             Title_Mlle    0.000000
27              Title_Mme    0.000000
28               Title_Mr    0.293473
29              Title_Mrs    0.003442
30               Title_Ms    0.000000
31              Title_Rev    0.000000
32              Title_Sir    0.000000
33     Title_the Countess    0.000000
34   FamilySize_Cat_Large    0.007329
35  FamilySize_Cat_Medium    0.008867
36  FamilySize_Cat_Single    0.002043
37   FamilySize_Cat_Small    0.002381
<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 0 to 417
Data columns (total 38 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SibSp                  418 non-null    int64
 1   Parch                  418 non-null    int64
 2   Fare                   418 non-null    float64
 3   FamilySize             418 non-null    int64
 4   Sex_female             418 non-null    uint8
 5   Sex_male               418 non-null    uint8
 6   Pclass_1               418 non-null    uint8
 7   Pclass_2               418 non-null    uint8
 8   Pclass_3               418 non-null    uint8
 9   Embarked_C             418 non-null    uint8
 10  Embarked_Q             418 non-null    uint8
 11  Embarked_S             418 non-null    uint8
 12  Age_Cat_Child          418 non-null    uint8
 13  Age_Cat_Middle         418 non-null    uint8
 14  Age_Cat_Old            418 non-null    uint8
 15  Age_Cat_Young          418 non-null    uint8
 16  Title_Capt             418 non-null    uint8
 17  Title_Col              418 non-null    uint8
 18  Title_Don              418 non-null    uint8
 19  Title_Dona             418 non-null    uint8
 20  Title_Dr               418 non-null    uint8
 21  Title_Jonkheer         418 non-null    uint8
 22  Title_Lady             418 non-null    uint8
 23  Title_Major            418 non-null    uint8
 24  Title_Master           418 non-null    uint8
 25  Title_Miss             418 non-null    uint8
 26  Title_Mlle             418 non-null    uint8
 27  Title_Mme              418 non-null    uint8
 28  Title_Mr               418 non-null    uint8
 29  Title_Mrs              418 non-null    uint8
 30  Title_Ms               418 non-null    uint8
 31  Title_Rev              418 non-null    uint8
 32  Title_Sir              418 non-null    uint8
 33  Title_the Countess     418 non-null    uint8
 34  FamilySize_Cat_Large   418 non-null    uint8
 35  FamilySize_Cat_Medium  418 non-null    uint8
 36  FamilySize_Cat_Single  418 non-null    uint8
 37  FamilySize_Cat_Small   418 non-null    uint8
dtypes: float64(1), int64(3), uint8(34)
memory usage: 30.2 KB